/* App.css */

.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

/* Estilo para el lado de productos */
#lado-productos {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
}

/* Botones en línea */
#lado-productos button {
  margin-right: 8px;
  margin-bottom: 10px;
}

/* Inputs en línea debajo de los botones */
#lado-productos input {
  margin-right: 10px;
  margin-top: 10px;
}

/* Lista de productos */
#lista-productos {
  margin-top: 10px;
  padding-left: 20px;
}

/* Estilo para el lado de tareas */
#lado-tareas {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
}

/* Lista de tareas */
#lado-tareas ul {
  padding-left: 20px;
  margin-top: 10px;
}

#lado-tareas li {
  margin-bottom: 8px;
}

#lado-tareas button {
  margin-left: 5px;
}
